html{
  overflow: auto;
}

body{
  padding-top: 10px;
}

.spin-loading{
  padding-top: 80px;
  margin-bottom: -100px;
  height: 300px;
}

.spin-loading > * {
  display: block;
  margin: 0 auto;
}

.spin-loading > span {
  margin-top: -10px;
  width: 60px;
}

.spin-loading > img {
  width: 100px;
}

.spin-loading > div {
  text-align: center;
}

.table-wrapper>.button {
  float: right;
}
